# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (as they contain secrets/project-specific IDs)
*.tfvars
*.tfvars.json

# Allow only the example file to be tracked
!terraform.tfvars.example

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore the dependency lock file (optional, but safer to ignore in some cases)
.terraform.lock.hcl
