project_id                 = "unravel-flat-rate-test"
region                     = "us-central1"
location                   = "US"
data_exchange_id           = "engineering_clean_room_v1"
data_exchange_display_name = "Engineering_DCR_Primary"
primary_contact            = "kinala@unraveldata.com"
source_dataset_id          = "unravel_share_US"
listing_id                 = "unravel_flat_rate_test_listing"
listing_display_name       = "Utkarsh_testunravel-flat-rate-test"
shared_table_ids        = [
  "projects/unravel-flat-rate-test/datasets/unravel_share_US/tables/ASSIGNMENTS_EU",
  "projects/unravel-flat-rate-test/datasets/unravel_share_US/tables/COLUMNS_US"
]
subscriber_emails          = ["utkarsh2796@gmail.com, kinala@unraveldata.com"]
subscription_id            = "utkarsh_clean_room_sub"
destination_dataset_id     = "subscribed_clean_room_data"
