# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# Parameters for Unravel Observability tool configuration in GCP
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# [Required] GCP Project IDs to configure Unravel Monitoring and the corresponding PubSub subscription ID.
# Please note to use the same name while running `manager config bigquery add <project> <unravel_subscription>`
# Default value is "unravel-bigquery-sub"
monitoring_project_ids = {
    "unravel-gcp-project-1" : "unravel-bigquery-sub",
    "unravel-gcp-project-2" : "unravel-bigquery-sub",
    "unravel-gcp-project-3" : "unravel-bigquery"
    }

# [Required] GCP Project ID where the Unravel is running. 
# Only required for VM and Single Auth model. Please remove for Multi auth model
unravel_project_id = "unravel-project-id"

# [Optional] GCP admin project ID if using Collections and Reservations
admin_project_ids = ["gcp-admin-project-1"]

# [Required] Authentication mode of unravel, 
# 1. Single Key based
#       key_based_auth_model = true
#       multi_key_auth_model = false
3
# 2. VM Identity based  [default]
#       key_based_auth_model = false
#       multi_key_auth_model = false
#
# 3. Multi Key based authentication
#       key_based_auth_model = false
#       multi_key_auth_model = true
#
key_based_auth_model = false
multi_key_auth_model = false


